.App {
  position: relative;
  min-height: 100vh;
  background-color: rgba(20, 20, 20, 0.5);
  overflow: scroll;
  text-align: center;
  color: #333;
}

.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  background: -webkit-linear-gradient(top, #67ffff65, #342c88c4);
  z-index: 1;
  animation: gradient-animation 4s ease infinite;
  -webkit-animation: gradient-animation 4s ease infinite;
  

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 30px;
  color: #333;
  position: relative;
  z-index: 2;
  min-height: 100vh;
}

.header-container {
  color: #333;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Audiowide', cursive;
  background:url(https://image.shutterstock.com/image-vector/colorful-techno-backdrop-aesthetics-vaporwave-260nw-1909563445.jpg) repeat-x;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-animation: gradient-animation 20s linear infinite;

}

.header > span {
  font-weight: lighter;
  background-image: none;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: initial;
  -moz-background-clip: unset;
  -moz-text-fill-color: initial;
}

.sub-text {
  font-size: 25px;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  max-width: 200px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Audiowide', cursive;
  font-weight: bold;
  justify-self: center;
  color: white;
}

.cta-button:active {
  background-color: #60c657;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #67ffff, #332c88);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(right, #67ffff, #332c88);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-left: 10px;
}

.footer-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: -webkit-linear-gradient(top, rgba(51, 51, 51, 0), #333);
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Audiowide', cursive;
  color: #fff;
}

.connected-container input[type='text'] {
  display: inline-block;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}

.connected-container button {
  height: 50px;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
